@import "scss/variables.scss";
@import "scss/panel";
@import "scss/button";
@import "scss/form";
@import "scss/leaderboard";

@import url('https://fonts.googleapis.com/css?family=Gothic+A1');

h1 {
	font-size: 28px;
}

.header {
	margin-bottom: 10px;
	padding: 5px;
}

.color-box {
	min-height: 20px;
	min-width: 20px;
	margin-right: 5px;
}

.game-view {
	display: flex;
	flex-direction: row;
}